argon2-cffi==25.1.0
fastapi==0.135.3
fastapi-cli==0.0.24
httpx==0.28.1
msal==1.36.0
openpyxl==3.1.5
pandas==2.3.3
pillow==12.2.0
pdf2image==1.17.0
pydantic==2.13.1
pydantic-settings==2.13.1
PyJWT==2.12.1
pyodbc==5.2.0
pypdfium2==5.10.1
pytesseract==0.3.13
python-dotenv==1.2.2
python-multipart==0.0.26
python-docx==1.2.0
pywin32==311
reportlab==4.5.1
svglib==1.6.0
uvicorn==0.44.0
